/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import 'https://cdn.jsdelivr.net/npm/bulma-switch@2.0/dist/css/bulma-switch.min.css'; */

:root {
  --bg: #ffffff;
  --bg-sec:#e4e4e4;
  --h-bg:#ececff;
  --text-prim: #282828;
  --text-sec: #2d4156;
  --btn-bg: #dbdbff;
  --btn-text: var(--bg);
  --btn-hover: #00659f;
  --success: #007400;
  --spento:#b0b0b0;
  --acceso:#fff4a9;
--error: #ff9191;
--placeholder: #4D4D4D;

}

* {
  font-family: "Open sans", Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin:auto auto;
  width: 90%;
}

body{
  margin-bottom: 2em;
}

/* 
=============
HEADER
=============
*/

.box{
  background: transparent;
  box-shadow: none;
  display: flex;
}

#logo{
  max-height: 15em;
}

#name{
  white-space: pre-line;
}

#navbarBasicExample{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
  background-color: var(--h-bg);
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

.navbar-item{
  margin-left: 0;
  padding: 1em;
}

.navbar-item:hover{
  background-color: var(--btn-bg);
  border-radius: 30px;
  border-style: solid;
  border-width: 0.5px;
}


/* 
=============
HOME
=============
*/
#home{
  display: block;
}

#first-row, #second-row{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
}

.tile-is-parent{
  display: block;
  background-color: var(--h-bg);
  padding: 1em;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  height: 90%;
}

#home-stato, #home-info, #home-aree, #home-guasti{
  display: block;
  width: 100%;
  text-align: center;
}

#home-guasto, #home-area{
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

button{
  border-radius: 20px;
  background-color: var(--btn-bg);
  border-style: solid;
  border-width: 0.5px;
  padding: 0.5em;
  margin: 0.5em;
}

.button-is-danger-is-small-is-responsive-is-rounded{
  display: block;
  max-width: 5em;
  background-color: var(--spento);
}

.button-is-success-is-small-is-responsive-is-rounded{
  display: block;
  max-width: 5em;
  background-color: var(--acceso);
}

button:hover{
  background-color: var(--btn-hover);
  color: white;
  border-radius: 30px;
  border-style: solid;
  border-width: 0.5px;
}

li{
  list-style: none;
  padding: 0.2em;
}

/* 
=============
LOGIN
=============
*/

#login-form{
  width: 80%;
  display: block;
  background-color: var(--h-bg);
  padding: 1em;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

input, select{
  border-radius: 30px;
  border-style: solid;
  padding: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
}


.login-label{
  text-align: left;
  display: block;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
}


/* 
=============
AREE
=============
*/

.art{
  display: block;
  width: 100%;
}

.title{
  padding-bottom: 1em;
}

.width-area,.area-lista{
  width: 100%;
}

#areas-area{
  padding-top: 1em;
  width: 80%;
  display: block;
  background-color: var(--h-bg);
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.area{
  display: inline-block;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

#areas-settings{
  font-weight: bold;
}

.acceso{
  background-color: var(--acceso);
}

.spento{
  background-color: var(--spento);
}

/* 
=============
AREA
=============
*/

.row{
  display: block;
  text-align: left;
}

.column-is-half{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 90%;
  display: block;
  background-color: var(--h-bg);
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.grid{
  width: 100%;
}

.first-row, .second-row{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.area-title-info{
  font-size: large;
  font-weight: bold;
}

.block{
  display: block;
}

.danger{
  width: 50%;
  background-color: var(--error);
}

/* 
=============
GUASTI
=============
*/

#guasti-margin,#lampione-margin, #sensore-margin,#area-margin,
#guasto-margin,#mguasto-margin,#mlampione-margin,#msensore-margin{
  margin-bottom: 1em;
}

#conferma{
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
}

#width-area{
  width: 100%;
}

#bold{
  font-weight: bold;
}